VITE_SUPABASE_URL=https://sonywgdxrhgqqmmogtjn.supabase.co 
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNvbnl3Z2R4cmhncXFtbW9ndGpuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAzOTEyNzIsImV4cCI6MjA5NTk2NzI3Mn0.m2dOAsiPSLTVwjWeMlqaXgTJQpvK9OXSl52FQPuFeH0
